<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".WalletApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.AddExpenseActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.AddRevenueActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.AddPercentageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.AddLoanActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.RecentTransActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.PhoneNumberActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.OTPActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.PasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.PersonalInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.VerifyInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.SigninSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.UpdatingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.UserProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.ExchangeRateActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.HighestTransActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.LoginSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.EditUserDataActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.ChangeThemeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>